/* 新闻 */
.news-list{
  float: right;
  width: 925px;
  
  margin: 40px 25px 30px 20px;
}
.news-list li{
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
}

.news-list .news-item-date{
  float: left;
  width: 108px;
  height: 100px;
  margin-right: 16px;
  background-image: url(../home/imgs/newsdate_06.jpg);
  position: relative;
  color: #ffffff;
}
.news-list li:hover .news-item-date {
  background-image: url(../home/imgs/newsdate_03.jpg);
  
}
.news-list li:hover .news-item-date .day {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.news-list li:hover .news-item-date .year-month{
  color: #ffffff;
}
.news-list li:hover .news-item-content .news-h2{
  color: #01a1ff;
}
.news-list .news-item-date .day{
  font-size: 45px;
  text-align: center;
  position: absolute;
  top: 14px;
  left: 27px;
  color: #999999;
  padding-bottom: 10px;
  border-bottom: 1px solid #b2b2b2;
}
.news-list .news-item-date .year-month{
  position: absolute;
  font-size: 13px;
  bottom: 10px;
  left: 28px;
  color: #b2b2b2;
  
}

.news-list .news-item-content .news-h2 .news-list .news-item-content .news-p{
  float: left;
  
}
.news-item-content .news-h2{
  width: 800px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin: 10px 0 20px 0;
}

.news-item-content .news-p{
  display: block;
  font-size: 14px;
  color: #666666;
  line-height: 24px;
  text-indent: 2em;
}
